<% @page_title = "Sign in" %>

<% content_for :header do %>
  <nav>
    <div class="fizzy-header-logo center flex-inline align-center txt-normal">
      <%= image_tag "logo.png", style: "inline-size: 1.15em; margin-inline-end: 0.8ch; block-size: auto;" %>
      <strong class="txt-medium overflow-ellipsis margin-none">Fizzy</strong>
    </div>
  </nav>
<% end %>

<div class="panel shadow center margin-block-double flex flex-column gap-half" style="--panel-size: 42ch; view-transition-name: sign-in-panel">
  <header>
    <h1 class="txt-x-large font-weight-black margin-none"><%= @page_title %></h1>
    <p class="margin-none-block-start">Enter your email address to continue</p>
  </header>

  <%= form_with url: session_path, class: "flex flex-column gap txt-medium" do |form| %>
    <div class="flex align-center gap">
      <label class="flex align-center gap input input--actor">
        <%= form.email_field :email_address, required: true, class: "input full-width", autofocus: true, autocomplete: "username", placeholder: "Email address" %>
      </label>
    </div>

    <button type="submit" id="log_in" class="btn btn--link center">
      <span>Go</span>
      <%= icon_tag "arrow-right" %>
    </button>
  <% end %>
</div>

<% content_for :footer do %>
  <div class="txt-align-center center margin-block-double txt-subtle">
    Fizzy&trade; Beta. <%= mail_to "support@37signals.com", "Need help?", class: "txt-link" %>
  </div>
<% end %>
