<% @page_title = "GitHub Integrations" %>

<% content_for :header do %>
  <div class="header__actions header__actions--start">
    <%= link_back_to_board(@board) %>
  </div>

  <h1 class="header__title"><%= @page_title %></h1>
<% end %>

<%= tag.section class: "panel panel--wide shadow center github-integrations" do %>
  <% if @integrations.any? %>
    <ul class="flex flex-column gap-half margin-none-block-start unpad">
      <%= render partial: "github_integrations/github_integration", collection: @integrations %>
    </ul>
  <% else %>
    <p>Connect GitHub repositories to automatically sync pull requests and issues to Fizzy cards.</p>
    <p>When you create a GitHub integration, Fizzy will provide a webhook URL that you can add to your GitHub repository settings. Pull requests and issues will automatically create cards on this board.</p>
  <% end %>

  <%= link_to new_board_github_integration_path(@board), class: "btn btn--link" do %>
    <%= icon_tag "add" %>
    <span>Add GitHub repository</span>
  <% end %>
<% end %>
