<div class="flex flex-column gap-half align-center">
  <%= bubble_filters_heading view do %>
    <%= render "bubbles/filters/index", view: view %>
    in
    <%= render "bubbles/filters/bucket", view: view %>

    <%= render "bubbles/filters/bookmark", view: view %>
  <% end %>

  <h2 class="txt-medium flex align-center justify-center gap-half">
    <%= view.tags.present? ? "Tagged" : "with" %>
    <%= render "bubbles/filters/tags", view: view %>

    and <%= render "bubbles/filters/assignees", view: view %>
  </h2>
</div>
