<% @page_title = @filter.summary %>

<%= render "filters/broadcasts", filter: @filter %>

<% content_for :header do %>
  <%= render "bubbles/index/header", filter: @filter %>
<% end %>

<div class="cards--columns">
  <%= render "bubbles/index/bubbles/considering", **@considering.to_h %>
  <%= render "bubbles/index/bubbles/doing", **@doing.to_h %>
</div>

<%= render "bubbles/index/bubbles/popped", **@popped.to_h %>
