<li class="credential" style="view-transition-name: <%= dom_id(credential) %>">
  <%= link_to edit_user_credential_path(Current.user, credential), class: "credential__link" do %>
    <% authenticator = credential.authenticator %>
    <%= image_tag authenticator&.icon&.[](:light) || "passkeys/generic_light.svg", size: 24, class: "flex-item-no-shrink hide-on-dark-mode", aria: { hidden: true } %>
    <%= image_tag authenticator&.icon&.[](:dark) || "passkeys/generic_dark.svg", size: 24, class: "flex-item-no-shrink hide-on-light-mode", aria: { hidden: true } %>
    <strong class="overflow-ellipsis min-width"><%= credential.name.presence || "Passkey" %></strong>
    <strong class="credential__arrow">→</strong>
  <% end %>
</li>
