<% @page_title = "Add a passkey" %>

<% content_for :header do %>
  <div class="header__actions header__actions--start">
    <%= back_link_to "Passkeys", user_credentials_path(Current.user), "keydown.left@document->hotkey#click keydown.esc@document->hotkey#click" %>
  </div>

  <h1 class="header__title" data-bridge--title-target="header"><%= @page_title %></h1>
<% end %>

<section class="panel panel--wide shadow center txt-align-start">
  <%= form_with scope: :credential, url: user_credentials_path(Current.user),
        data: { controller: "credential", credential_public_key_value: @creation_options.as_json },
        html: { class: "flex flex-column gap" } do |form| %>

    <div class="flex flex-column gap-half">
      <strong><%= form.label :name, "Passkey name" %></strong>
      <%= form.text_field :name, required: true, autofocus: true, class: "input", placeholder: "e.g. MacBook Pro, iPhone" %>
    </div>

    <%= hidden_field_tag "passkey[client_data_json]", nil, data: { credential_target: "clientDataJSON" } %>
    <%= hidden_field_tag "passkey[attestation_object]", nil, data: { credential_target: "attestationObject" } %>

    <button type="button" data-action="credential#create:prevent" class="btn btn--link center txt-medium">
      <%= icon_tag "add" %>
      <span>Register passkey</span>
    </button>
  <% end %>

  <%= link_to "Cancel and go back", user_credentials_path(Current.user), hidden: true %>
</section>
