<% @page_title = "Join Codes" %>

<% content_for :header do %>
  <%= render "filters/menu" %>
  <h1 class="header__title"><%= @page_title %></h1>
<% end %>

<section>
  <%= tag.div class: "panel shadow center",   style:"--panel-size: 42ch; view-transition-name: join-codes-panel",  data: {
    controller: "navigable-list",
    action: "keydown->navigable-list#navigate",
    navigable_list_actionable_items_value: true
  } do %>
    <div class="flex align-center gap-half">
      <h2 class="divider txt-large flex-item-grow">Join codes</h2>
      <%= link_to new_account_join_code_path, class: "btn btn--primary txt-small" do %>
        <%= icon_tag "add" %>
        <span>New join code</span>
      <% end %>
    </div>

    <% if @join_codes.any? %>
      <ul class="settings__join-code-list margin-block-half">
        <% @join_codes.each do |join_code| %>
          <li class="flex align-center gap" data-navigable-list-target="item">
            <%= link_to account_join_code_path(join_code), class: "txt-ink flex gap-half align-center flex-item-grow overflow-ellipsis" do %>
              <code class="txt-medium"><%= join_code.code %></code>

              <% if join_code.active? %>
                <span class="badge badge--positive txt-x-small">Active</span>
              <% else %>
                <span class="badge badge--subtle txt-x-small">Used up</span>
              <% end %>
              <span class="txt-x-small txt-subtle">
                <%= join_code.usage_count %> / <%= join_code.usage_limit %>
              </span>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <div class="txt-align-center txt-subtle pad-double">
        <p class="margin-none">
          No join codes yet. Create one to invite people to your account.
        </p>
      </div>
    <% end %>
  <% end %>
</section>
